
<table *ngFor="let stydent of stydents" class="main__content-schoolboy">
  <tr>
    <td>
      <span>{{stydent.name}} </span>
      <span>{{stydent.surname}} </span>
    </td>
    <td>
      <div>
        <input type="checkbox" id="checkbox_{{stydent.id}}{{stydent.disciplines.mathematics.id}}">
        <label for="checkbox_{{stydent.id}}{{stydent.disciplines.mathematics.id}}">
          <span>
            Математика
          </span>
        </label>
        <table class="matstat">
          <tr>
            <th class="headertext">Тип работы</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th>31</th>
          </tr>
          <tr>
            <td class="headertext">Классная работа</td>
            <td>{{stydent.disciplines.mathematics.classrabota[0]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[1]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[2]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[3]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[4]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[5]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[6]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[7]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[8]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[9]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[10]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[11]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[12]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[13]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[14]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[15]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[16]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[17]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[18]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[19]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[20]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[21]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[22]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[23]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[24]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[25]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[26]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[27]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[28]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[29]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[30]}}</td>
          </tr>
          <tr>
            <td class="headertext">Домашняя работа</td>
            <td>{{stydent.disciplines.mathematics.homerabota[0]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[1]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[2]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[3]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[4]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[5]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[6]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[7]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[8]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[9]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[10]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[11]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[12]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[13]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[14]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[15]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[16]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[17]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[18]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[19]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[20]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[21]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[22]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[23]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[24]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[25]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[26]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[27]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[28]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[29]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[30]}}</td>
          </tr>
          <tr>
            <td class="headertext">Экзамены</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[0]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[1]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[2]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[3]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[4]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[5]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[6]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[7]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[8]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[9]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[10]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[11]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[12]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[13]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[14]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[15]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[16]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[17]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[18]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[19]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[20]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[21]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[22]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[23]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[24]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[25]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[26]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[27]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[28]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[29]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[30]}}</td>
          </tr>
          <tr>
            <td class="headertext">Практические занятия</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[0]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[1]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[2]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[3]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[4]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[5]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[6]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[7]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[8]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[9]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[10]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[11]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[12]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[13]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[14]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[15]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[16]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[17]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[18]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[19]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[20]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[21]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[22]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[23]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[24]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[25]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[26]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[27]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[28]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[29]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[30]}}</td>
          </tr>
          <tr>
            <td class="headertext">Лабораторные работы</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[0]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[1]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[2]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[3]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[4]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[5]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[6]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[7]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[8]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[9]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[10]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[11]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[12]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[13]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[14]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[15]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[16]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[17]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[18]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[19]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[20]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[21]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[22]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[23]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[24]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[25]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[26]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[27]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[28]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[29]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[30]}}</td>
          </tr>
        </table>
      </div>
      <div>
        <input type="checkbox" id="checkbox_{{stydent.id}}{{stydent.disciplines.physics.id}}">
        <label for="checkbox_{{stydent.id}}{{stydent.disciplines.physics.id}}">
          <span>
            Физика
          </span>
        </label>
        <table class="matstat">
          <tr>
            <th>Тип работы</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th>31</th>
          </tr>
          <tr>
            <td>Классная работа</td>
            <td>{{stydent.disciplines.mathematics.classrabota[0]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[1]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[2]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[3]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[4]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[5]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[6]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[7]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[8]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[9]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[10]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[11]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[12]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[13]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[14]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[15]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[16]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[17]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[18]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[19]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[20]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[21]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[22]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[23]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[24]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[25]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[26]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[27]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[28]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[29]}}</td>
            <td>{{stydent.disciplines.mathematics.classrabota[30]}}</td>
          </tr>
          <tr>
            <td>Домашняя работа</td>
            <td>{{stydent.disciplines.mathematics.homerabota[0]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[1]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[2]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[3]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[4]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[5]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[6]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[7]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[8]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[9]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[10]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[11]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[12]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[13]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[14]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[15]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[16]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[17]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[18]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[19]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[20]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[21]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[22]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[23]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[24]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[25]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[26]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[27]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[28]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[29]}}</td>
            <td>{{stydent.disciplines.mathematics.homerabota[30]}}</td>
          </tr>
          <tr>
            <td>Экзамены</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[0]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[1]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[2]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[3]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[4]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[5]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[6]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[7]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[8]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[9]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[10]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[11]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[12]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[13]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[14]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[15]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[16]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[17]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[18]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[19]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[20]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[21]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[22]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[23]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[24]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[25]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[26]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[27]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[28]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[29]}}</td>
            <td>{{stydent.disciplines.mathematics.testofknowledge[30]}}</td>
          </tr>
          <tr>
            <td>Практические занятия</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[0]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[1]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[2]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[3]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[4]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[5]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[6]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[7]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[8]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[9]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[10]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[11]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[12]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[13]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[14]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[15]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[16]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[17]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[18]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[19]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[20]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[21]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[22]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[23]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[24]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[25]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[26]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[27]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[28]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[29]}}</td>
            <td>{{stydent.disciplines.mathematics.practicallessons[30]}}</td>
          </tr>
          <tr>
            <td>Лабораторные работы</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[0]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[1]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[2]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[3]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[4]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[5]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[6]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[7]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[8]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[9]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[10]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[11]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[12]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[13]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[14]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[15]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[16]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[17]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[18]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[19]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[20]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[21]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[22]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[23]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[24]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[25]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[26]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[27]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[28]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[29]}}</td>
            <td>{{stydent.disciplines.mathematics.laboratoryexercises[30]}}</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
